page-cate {
    .box{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        border: 0.1rem solid black;
        border-top: 0.1rem solid black;
        padding:0.5rem;
        
    }
    .button{
        text-align: center;
        //position: relative;
        margin-top: 5%;
       margin-left: 35%;
       width: 30%;
       //background: green;
    }
}
